.aarushsinha{
  text-align: center;
}
body{
    background-color: aqua;
}
.yobhaiii{
    font-family: "Skranji", system-ui;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: fuchsia;
}
.munna{
  color: mediumblue;
}
.imyo{
  color: indigo;
}
.mahi{
  color: mediumaquamarine;
}